body {
  background: #1A1F23;
}

#header {
  background: #1A1F23;
  color: #1A1F23;
}

#background {
 overflow: hidden; 
}

#headertext {
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 45px;
  height: 45px;
  position: absolute !important;
  text-align: center;
  width: 100%;
  top: -8px;
  filter: blur(0px);
  /*If you're reading this, I'm so sorry about the non-standard coding. Chase Lindquist told me I could make jank code, so I did. - Ryan Lahlou*/
}